.app-menu {
    position: fixed;
    height: 100%;
    z-index: 100;
    padding-inline: 18px;

    @include for-narrow-layout {
        width: 100%;
        overflow: hidden;
        top: $app-header-height;
        height: 0;
        transition-duration: 0.5s;

        &.open {
            display: block;
            height: 100%;
        }

        .menu-header{
            display: none;
        }
    }

    @include for-normal-layout {
        width: $sidebar-width;
        border-right: 30px solid;
        border-image: linear-gradient(to right, $accent-clr, hsla(0, 0, 0, 0));
        border-image-slice: 60 40;
    }

    .menu-header{
        height: $app-header-height;
        padding-block: 18px;
    }

}