.app-menu {
    position: fixed;
    height: 100%;
    @include color-theme-basic;
    
    @include for-narrow-layout {
        width: 100%;
        overflow: hidden;
        top: $app-header-height;
        height: 0;
        transition-duration: 0.5s;

        &.open {
            display: block;
            height: 100%;
        }
    }

    @include for-normal-layout {
        width: $sidebar-width;
    }

}