.app-header {
    height: $app-header-height;
    position: sticky;
    top: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .menu-toggle {
        @include for-normal-layout {
            display: none;
        }

        height: 40px;
        width: 40px;
        background: none;
        border: none;

        &.open {
            background-image: url("../../img/icons/menu/menu-close.svg");
        }

        &.closed {
            background-image: url("../../img/icons/menu/hamburger-menu-open.svg");

        }

    }

    .logo {
        @include for-normal-layout {
            display: none;
        }
    }
}