.widget {
    background-color: lightblue;
    width: max-content;
    margin-block-end: 1em;
    position: relative;
    display: grid;
    grid-template-areas: "field";

    &:hover {
        .label span {
            border: 1px solid gray;
        }
    }
    
    .label, textarea {
        background-color: aqua;
        width: 100%;
        grid-area: field;    
    }

    .label {
        display: block;
        visibility: visible;
        z-index: 3;
        width: fit-content;

        span {
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 1px 6px;
        }
    }

    textarea {
        visibility: hidden;
        @include reset-textarea;

        &:focus {
            border: 2px solid $accent-clr;
            border-radius: 4px;
        }
    }

    &.input-active .label {
        visibility: hidden;
    }

    &.input-active textarea {
        visibility: visible;
    }

    &[data-field="description"] {
        text-wrap: wrap;
        overflow-x: hidden;
        .label {
            white-space: pre;
        }
    }
}