.widget {
    span {
        visibility: visible;
        z-index: 3;
    }
    padding: 1em;
    &:hover {
        border: 1px solid gray;
        border-radius: 2em;
    }

    &.input-active {
        text-decoration: underline dashed;
        span {
            visibility: hidden;
        }
    }
}