.project-preview {
    background-color: yellow;
    display: grid;

    .project-progress {
        .progress-text {
            &.completed {
                color: $primary-success-clr;
            }
        }

        .progress-bar {
            &::part(base) {
                max-width: 500px;
            }
            &::part(indicator) {
                background-color: $accent-clr;
            }
        }
    }
}