.widget {
    background-color: lightgreen;
    border: 1px solid yellow;
    width: 100%;
    margin-block-end: 1em;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    
    & >* {
        width: 100%;
        align-self: flex-start;
       grid-row: 1;
       grid-column: 1;
    }

    span {
        display: block;
        background-color: lightsalmon;
        border: 1px solid red;
        visibility: visible;
        z-index: 3;
    }

    textarea {
        @include reset-textarea;
        background-color: lightblue;
        border: 1px solid blue;

        &:focus {
            border: 1px solid $accent-clr;
            border-radius: 2em;
        }
    }


    &:hover {
        border: 1px solid gray;
        border-radius: 2em;
    }

    &.input-active {
        span {
            visibility: hidden;
        }

    }

    &[data-field="description"] {
        span {
            height: 160px;
            white-space: pre;
        }

        textarea {
            height: 160px;
        }
    }
    
    &[data-field="title"]  {
        span,textarea {
            height: 60px;
        }
    }
}