.project-preview {
    display: grid;
    width: 100%;

    .project-progress {
        .progress-text {
            &.completed {
                color: green; //temp
            }
        }

        .progress-bar {
            &::part(base) {
                max-width: 500px;
            }
            &::part(indicator) {
                background-color: $accent-clr;
            }
        }
    }
}