.project-preview {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    
    .field-widgets, .field-widgets li, .widget {
        width: 100%;
    }

    .field-widgets {
        grid-row: 1;
    }

    .project-progress {
        grid-row: 2;

        .progress-text {
            &.completed {
                color: $primary-success-clr;
            }
        }

        .progress-bar {
            &::part(base) {
                
            }
            &::part(indicator) {
                background-color: $accent-clr;
            }
        }
    }
}