* {
    box-sizing: border-box;
}

html {
    font-family: Noto-Sans-light;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // TODO font-family: ;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;

    &:hover {
        color: $accent-clr;
    }
}

.app-container,
.app-container > * {
  @include color-theme-basic(light);
}

.app-container.theme-dark,
.app-container.theme-dark > * {
  @include color-theme-basic(dark);
}


main {
    padding: 18px;
    width: auto;

    @include for-normal-layout {
        max-width: calc(100vw - $sidebar-width - ($layout-padding * 2))
    }

    @include for-narrow-layout {
        min-width: 300px;
        max-width: calc(100vw - ($layout-padding * 2))
    }

    // @include for-wide-layout {
    //     max-width: 700px;
    // }

    // @include for-medium-layout {
    //     max-width: 550px;
    // }

    // @include for-narrow-layout {
    //     max-width: 500px;
    // }

    // @include for-mobile-layout {
    //     min-width: 300px;
    // }


}