* {
    box-sizing: border-box;
}

html {
    // TODO: font-family;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // TODO font-family: ;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-container {
    // default theme: light:
    color: theme-color(light, main-text-clr);
    background-color: theme-color(light, main-bg-clr);
    
    &.theme-dark {
        color: theme-color(dark, main-text-clr);
        background-color: theme-color(dark, main-bg-clr);
    }
} 