.base-layout {
    display: grid;
    grid-template-rows: 1fr minmax(100vh, auto) 1fr;
    grid-template-columns: $sidebar-width auto;

    >*:not(.app-menu) {
        @include for-narrow-layout {
            grid-column: span 2;
        }

        @include for-normal-layout {
            grid-column: 2;
        }
    }
}

main {
    background-color: yellow;
    grid-row: 2;
}

.app-menu {
    @include for-narrow-layout {
        grid-column: span 2;
    }
   
}