/* Breakpoint mixins */
@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-medium-layout {
  @media (max-width: $break-medium) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-medium) {
    @content;
  }
}

/* Color Theme */

@mixin color-theme-basic($theme) {
  color: theme-color($theme, main-text-clr);
  background-color: theme-color($theme, main-bg-clr);
}


/* Reset */

@mixin reset-textarea {
  border: 1px solid transparent;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  scrollbar-width: none;
  box-shadow: none;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  padding: 1px 6px;
}