@font-face {
    font-family: Playwrite;
    src: url(../../font/Playwrite/PlaywriteIS-VariableFont_wght.ttf);
}

@font-face {
    font-family: Noto-Sans-light;
    src: url(../../font/Noto-Sans/NotoSans-Light.ttf);
}

@font-face {
    font-family: Noto-Sans-medium;
    src: url(../../font/Noto-Sans/NotoSans-Medium.ttf);
}

