// ** COLOR PALETTE ** 
$themes: (
    light: (
        main-bg-clr:#ffffff,
        main-text-clr: #1c1e21,
    ),
    dark: (
        main-bg-clr: #18191a,
        main-text-clr: #f5f6f7,
    )
);

// ** LAYOUT**
// Layout Breakpoints
$break-narrow: 800px; 

// ** SIZES **

// AppHeader:
$app-header-height: 100px;

// AppMenu: 
$sidebar-width: 200px; // in normal layout
